@font-face {
    font-family: Roboto;
    src: url(static://components/game/assets/fonts/Roboto-Light.ttf);
}
h1 {
    margin-bottom: var(--space-30);
    color: var(--color-accent);
    font-size: var(--space-150);
  
}

.button-grid {
    display: grid;
    gap: var(--space-80);
    width: 100%;
    max-width: var(--space-200);
}

button {
    padding: var(--space-12) var(--space-20);
    font-size: var(--space-40);
    border: none;
    border-radius: var(--space-12);
    background-color: var(--color-button-start);
    color: var(--color-text-lighter);
    cursor: pointer;
    box-shadow: 0 var(--space-2) var(--space-5) rgba(0,0,0,0.3);
    transition: background-color 0.2s ease-in-out;

}

button:hover {
    background-color: var(--color-button-hover-start);

}


#random-img {
position: absolute;
top: var(--space-20);
right: var(--space-20);
width: var(--space-400);
height: var(--space-400);
border: var(--space-2) solid var(--color-border);
}

#process-list {
    font-size: var(--space-40);
}

#loadGameMenu {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: var(--aspect-w) / var(--aspect-h);
    width: var(--space-1200);
    height: var(--space-800);
    background-color: var(--color-bg-light);
    background-image: url(static://components/game/assets/lgmBackground.jpg); /* Aici ar trb sa fie o poza doar ca nu se poate incarca pe git */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    container-type: size;
    display:none;
}
#lgmTitle{
    position: absolute;
    color: var(--color-accent);
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: var(--space-56);
    top: var(--space-20);
    left: var(--space-20);
    font-weight: bold;
    
}
#lgmExit{
    position: absolute;
    top: var(--space-20);
    right: var(--space-20);
    width: var(--space-80);
    height: var(--space-80);
    background: transparent; 
    color:var(--color-red);
    border:var(--space-10) solid var(--color-border);
    border-top:var(--space-10);                
    outline: none;               
    box-shadow: none;           
    cursor: pointer;
}